# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Also ignore generated folders inside nested Unity project folders
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# IDE/cache files
.vs/
.vscode/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.log
sysinfo.txt
.DS_Store
Thumbs.db

# Builds/packages
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Packed Addressables / temporary Android assets
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*
